@layer base {
  :root {
    --primary: #111111;
    --primary-lighter: #26292a;
    --primary-contrast: #e4e4e4;
    --secondary: #9621fb;

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;

    --sm-br: 5px;
    --m-br: 10px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--primary);
    color: var(--primary-contrast);
    margin: 0;
  }

  body.light-theme {
    --primary: #e4e4e4;
    --primary-lighter: #c5c5c5;
    --primary-contrast: #111111;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button {
    cursor: pointer;
    transition: opacity 0.2s ease;
  }

  button:hover {
    opacity: 0.8;
  }

  .hidden {
    display: none;
  }

  .dark-bg {
    background-color: var(--primary-lighter);
  }
}
