@use './variables.scss';

@layer base {
  :root {
    --primary: #111111;
    --primary-lighter: #26292a;
    --primary-contrast: #e4e4e4;
    --secondary: #871fe3;
    --tertiary: #e87e27;
    --complementary: #04905a;

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--primary);
    color: var(--primary-contrast);
    margin: 0;

    &.light-theme {
      --primary: #e4e4e4;
      --primary-lighter: #c5c5c5;
      --primary-contrast: #111111;
      --secondary: #9757cf;
      --tertiary: #ff8a2b;
      --complementary: #02a768;
    }
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  input {
    min-width: 50px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button:hover {
    opacity: 0.8;
  }

  .hidden {
    display: none;
  }
}
