@layer base {
  :root {
    --primary: rgb(239, 239, 239);
    --primary-contrast: rgb(255, 255, 255);
    --secondary: rgb(41, 186, 101);
    --tertiary: blue;
    --text-color: rgb(52, 52, 52);

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;

    --sm-br: 5px;
    --m-br: 10px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--primary);
    color: var(--text-color);
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  button {
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }
}
