@layer component {
  #content-section {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
    padding: var(--l-gap);
    flex: 1;
  }

  #todo-content h1 {
    text-align: center;
    background-color: var(--primary);
    color: var(--primary-contrast);
    margin: 0;
    padding: var(--m-gap);
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #todo-content ul {
    padding: 0;
  }

  #todo-content .list-item {
    padding: 0;
  }

  #todo-content .list-item:hover {
    background-color: var(--primary-contrast);
  }
}
