.filled-btn-container {
  display: flex;
  justify-content: center;
  margin-block: var(--m-gap);
}

.filled-btn {
  border: none;
  background-color: var(--complementary);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
