@layer component {
  #main-header {
    position: relative;
    background-color: var(--primary-darker);
    padding-inline: var(--m-gap);
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--secondary);
  }

  #main-header h2 {
    font-size: clamp(24px, 5vw, 42px);
    margin-block: 0.5rem;
  }

  #main-header span {
    color: var(--secondary);
  }

  #toggle-theme-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 15px;
    border: 0;
    border-radius: 100%;
    background-color: var(--tertiary);
  }

  .dark-fill svg {
    fill: #000;
  }
}
