@layer component {
  .icon-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    border-radius: 100%;
    border: 0;
    fill: var(--primary-contrast);
  }

  .icon-btn:hover {
    opacity: 0.6;
  }
}
