@layer component {
  .list-item {
    position: relative;
    cursor: pointer;
    padding-inline: var(--m-gap);
    margin: var(--l-gap);
    transition: background-color 0.5s;
  }

  .list-item:not(:last-child)::after {
    position: absolute;
    content: '';
    background-color: rgb(82, 82, 82);
    width: 90%;
    height: 1px;
    bottom: calc(-1 * var(--l-gap) / 2);
    left: 50%;
    transform: translateX(-50%);
  }

  .list-item.todo-complete {
    text-decoration: line-through;
    background-color: var(--complementary) !important;
  }

  .list-item-title {
    word-break: break-all;
    letter-spacing: 1.5px;
  }

  .list-item-details {
    flex: 1;
  }

  .toggle-complete-btn {
    width: 25px;
    height: 25px;
  }

  .toggle-complete-btn.checked {
    /* background-image: url(/src/images/check-mark.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .list-item-priority {
    display: flex;
    align-items: center;
    gap: var(--sm-gap);
  }

  .list-item-priority-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-contrast);
  }
}
