@layer component {
  .list-item {
    position: relative;
    display: flex;
    gap: var(--m-gap);
    background-color: var(--primary);
    border-radius: 20px;
    padding: var(--m-gap);
    margin-block: var(--l-gap);
    opacity: 0.9;
    cursor: pointer;
    transition:
      background-color,
      opacity 0.5s;
  }

  .list-item:hover {
    opacity: 1;
  }

  .list-item:not(:last-child)::after {
    position: absolute;
    content: '';
    background-color: rgb(82, 82, 82);
    width: 90%;
    height: 1px;
    bottom: calc(-1 * var(--l-gap) / 2);
    left: 50%;
    transform: translateX(-50%);
  }

  .list-item.task-complete {
    background-color: var(--complementary) !important;
  }

  .list-item-title {
    margin-top: 0;
    margin-bottom: calc(var(--sm-gap) / 2);
    cursor: pointer;
    word-break: break-all;
    letter-spacing: 1.5px;
  }

  .list-item-details {
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .list-item-priority {
    display: flex;
    align-items: center;
    gap: var(--sm-gap);
  }

  .list-item-priority-icon {
    display: inline-block;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-contrast);
  }

  .list-item-edits {
    align-self: flex-start;
    display: flex;
    gap: var(--m-gap);
    flex-direction: column;
    justify-content: space-between;
  }

  .selected-list-item {
    background-color: var(--secondary);
  }

  .task-date {
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: calc(var(--sm-gap) / 2);
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    margin-block: auto 0px;
  }

  .toggle-complete-btn {
    width: 25px;
    height: 25px;
  }

  .toggle-complete-btn.checked {
    fill: var(--secondary);
  }

  .parent-task-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .parent-task-container span {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    fill: var(--primary-contrast);
  }

  .parent-task-container span svg {
    width: 100%;
    height: 100%;
  }

  .parent-task-title {
    word-break: break-all;
  }

  @media (max-width: 950px) {
    .list-item {
      flex-direction: column;
    }

    .list-item-edits {
      flex-direction: row;
      align-self: center;
    }

    .parent-task-container {
    }

    .parent-task-container span {
      transform: rotate(90deg);
    }
  }
}
