@layer component {
  #nav-bar {
    /* background-color:; */
    overflow-wrap: break-word;
    max-width: 300px;
  }

  #nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #nav-bar .list-item {
    padding-inline: var(--m-gap);
  }

  #nav-bar .list-item:hover {
    background-color: var(--primary);
  }

  #nav-bar h2 {
    background-color: var(--primary);
    letter-spacing: 1.5px;
    position: relative;
    padding-inline: var(--m-gap);
    margin: 0;
    padding: var(--sm-gap);
  }

  #nav-bar h2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  #nav-bar .list-item-details {
    min-width: 0; /* ensure long words break correctly */
  }
}
