@layer component {
  #nav-bar {
    background-color: var(--primary-lighter);
  }

  #nav-bar .list-item {
    margin-inline: var(--m-gap);
    border-radius: 2rem;
  }

  #nav-bar .list-item-title {
    padding-inline: var(--sm-gap);
  }

  #nav-bar .list-item:hover {
    background-color: var(--primary);
  }

  .selected-nav-item {
    background-color: var(--primary);
  }
}
