@layer component {
  .tasks-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-lighter);
    border-radius: 20px;
    padding: var(--l-gap);
  }

  .tasks-container > :nth-last-child(2) {
    margin-bottom: var(--l-gap);
  }

  .tasks-container button {
    margin-top: auto;
  }

  .tasks-container .list-item {
    cursor: move;
    display: flex;
    gap: var(--m-gap);
    background-color: var(--primary);
    border-radius: 20px;
    padding: var(--m-gap);
    opacity: 0.9;
  }

  .tasks-container .list-item-title {
    margin-top: 0;
    cursor: pointer;
  }

  .tasks-container .list-item:hover {
    opacity: 1;
  }

  .tasks-container .selected-list-item {
    background-color: var(--secondary);
  }

  .dragging {
    opacity: 0.7;
  }

  .highlight-drag-area {
    outline: 2px solid var(--primary-contrast);
    border-radius: 20px;
  }
}
