@layer component {
  .tasks-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-lighter);
    border-radius: var(--m-gap);
    padding: var(--l-gap);

    > :nth-last-child(2) {
      margin-bottom: var(--l-gap);
    }
    button {
      margin-top: auto;
    }
  }

  .draggable {
    cursor: move;
  }

  .dragging {
    opacity: 0.7;
  }

  .highlight-drag-area {
    outline: 2px solid var(--primary-contrast);
    border-radius: var(--m-gap);
  }

  @media() {
  }
}
