.task-form {
  background-color: var(--primary-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--l-gap);
  max-width: 550px;
  margin-inline: auto;
  padding: var(--l-gap);
  border-radius: var(--m-gap);
}

.input-container {
  display: flex;
  gap: var(--sm-gap);
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.input-container:focus-within {
  .text-input-label {
    top: 0px;
    left: 15px;
    font-size: 0.8rem;
  }

  .text-input-label::after {
    background-color: var(--primary-lighter);
  }
}

.text-input-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    z-index: -1;
  }
}

.move-label {
  top: 0px;
  left: 15px;
  font-size: 0.8rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    z-index: -1;
    background-color: var(--primary-lighter);
  }
}

.text-input {
  background-color: var(--primary);
  color: var(--primary-contrast);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.required-input {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 0.75rem;

  &::after {
    content: '*';
  }
}

.task-form-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--m-gap);
}

.priority-select,
.date-select {
  flex: 1;
  background-color: var(--primary);
  color: var(--primary-contrast);
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.select-container {
  &::after {
    content: '>';
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: var(--primary-contrast);
    position: absolute;
    right: 12px;
    pointer-events: none;
  }
}

.tasks-container {
  .select-container {
    align-self: flex-start;
    position: relative;

    &::after {
      top: 4px;
    }
  }

  .priority-select {
    padding-right: 40px;
  }
}

.date-select::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

.light-theme .date-select::-webkit-calendar-picker-indicator {
  color-scheme: light;
}
