.task-form {
  background-color: var(--primary-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--l-gap);
  max-width: 350px;
  margin-inline: auto;
  padding: var(--l-gap);
  border-radius: 20px;
}

.input-container {
  display: flex;
  gap: var(--sm-gap);
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.input-container:focus-within .text-input-label {
  top: -2px;
  left: 5px;
  scale: 0.8;
}

.input-container:focus-within .text-input-label::after {
  background-color: var(--primary-lighter);
}

.text-input-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.text-input-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: 0;
  z-index: -1;
}

.text-input {
  background-color: var(--primary);
  color: var(--primary-contrast);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.required-input {
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 0.75rem;
}

.required-input::after {
  content: '*';
}

.move-label {
  top: -2px;
  left: 5px;
  scale: 0.8;
  background-color: var(--primary-lighter);
}

.task-form-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--m-gap);
}

.priority-select,
.date-select {
  flex: 1;
  background-color: var(--primary);
  color: var(--primary-contrast);
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

.priority-select {
  -webkit-appearance: none;
  appearance: none;
  /* background-image: url('/src/images/icons/angle-down-solid.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center; */
}

.priority-select::after {
  content: 'hello';
  color: red;
  z-index: 1000;
  position: absolute;
}

.date-select::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

.light-theme .date-select::-webkit-calendar-picker-indicator {
  color-scheme: light;
}
