#tasks-layout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--l-gap);
}

#tasks-layout .list-item-title {
  cursor: pointer;
}

@media (max-width: 950px) {
  #tasks-layout .list-item {
    flex-direction: column;
  }

  #tasks-layout .list-item-edits {
    flex-direction: row;
    align-self: center;
  }
}
