@layer component {
  #todo-content {
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
    padding: var(--l-gap);
    flex: 1;
  }

  #todo-content h1 {
    text-align: center;
    background-color: var(--secondary);
    color: var(--primary-contrast);
    margin: 0;
    padding: var(--m-gap);
    word-break: break-all;
  }

  #todo-content ul {
    padding: 0;
  }

  #todo-content .list-item {
    gap: var(--m-gap);
    padding: var(--sm-gap);
  }

  #todo-content .list-item:hover {
    background-color: var(--primary-contrast);
  }
}
