@layer component {
  .warning-container {
    position: relative;
    background-color: var(--primary);
    padding: var(--l-gap);
    border-radius: 5px;
    position: absolute;
    right: -35px;
    bottom: 50%;
    text-align: center;
    animation: slide-up 0.5s ease-in-out;
  }

  .warning-container::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    position: absolute;
    bottom: -10px;
    left: 45%;
    transform: rotate(45deg);
  }

  #cancel-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  @keyframes slide-up {
    0% {
      bottom: 60px;
      opacity: 0;
    }
    100% {
      bottom: 50%;
      opacity: 1;
    }
  }
}
